* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS';
}

a {
  color: #5a6f07;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.title h1 {
  margin: 10px 0px;
}

.page-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-title {
  margin-bottom: 5px;
  margin-top: 30px;
}

form {
  width: 300px;
}

.form-input {
  border: rgb(211, 209, 209) 1px solid;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
}

input:focus {
  outline: none !important;
  border-color: #5a6f07;
  box-shadow: 0 0 1px #5a6f07;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 5px;
  font-size: 15px;
}

.address {
  margin-top: 10px;
}
.btn {
  background: #5a6f07;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.submit-btn {
  display: flex;
  padding: 10px 20px;
  margin: 30px auto 10px auto;
  font-size: 17px;
}
.submit-btn:disabled {
  background-color: #ccc;
  cursor: default;
  color: grey;
}
.table-page {
  max-width: 1440px;
  margin: auto;
}
.table-container {
  margin: 0 20px;
  max-width: 1440px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}
.entries-selection {
  display: flex;
  align-items: center;
}
.entry-select {
  margin: 0 5px;
}

.search-input {
  border: rgb(211, 209, 209) 1px solid;
  border-radius: 5px;
  padding: 8px;
  width: 200px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #5a6f07;
  color: white;
}

.sort-arrows {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.active {
  color: black;
}
.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.prevNext-btn {
  cursor: pointer;
  border: none;
  color: #5a6f07;
  background: none;
  padding: 5px;
  font-size: 15px;
}
.prevNext-btn:disabled {
  color: #ccc;
  cursor: default;
}
.page-numbers {
  margin: 0 10px;
}
.page-btn {
  border: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
}
.active-btn {
  background: #5a6f07;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.home-link,
.table-title {
  display: flex;
  margin: 10px auto;
  justify-content: center;
}

.hide {
  display: none;
}
.closeBtn {
  background: #5a6f07 !important;
}
